body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height:100vh;
}

.header-background {
    background-image: url("../img/LoseItThinner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top, right top;
    height: 250px;
}
img {
    width: 80%;
    margin-bottom: 0;

    z-index: -1000;
}

.footteri{
    width: 100%;
    margin-bottom: 0;

    z-index: -1000;
}


.current-weight {
    font-family: 'Roboto';
    font-size: 6em;
    font-weight: bold;
    color: white;
}

h1 {
    font-family: 'Roboto';
    font-size: 1.4em;
    font-weight: bold;
}
.red {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-family: 'Roboto' ;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
}

.h2-sub{
    font-family: 'Roboto';
    font-size: 4.3em;
    font-weight: 900;
    color: gray;
    text-align: center;

}

/*
weight table
*/

.weight-table {
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.weight-table-headers {
    font-family: 'Roboto' ;
    font-size: 0.4em;
    font-weight: 900;
    color: white;
}
.col {
    font-size: 0.7em;
}
.th {
    text-align: left;
}

.container div:nth-child(1) div:nth-child(1){
    padding-top: 2.6em;
}

.container div:nth-child(1) .col{
    padding-top: 6.5em;
}

.container div:nth-child(2) div:nth-child(1){
    padding-top: 0em;
}
.container div:nth-child(2) .col{
    padding-top: 0em;
}

.container div:nth-child(2) div:nth-child(1){
    font-size: 2em;
    margin-top: -0.6em;
}

/*
navbar
 */
.own_navbar {
    width: 100%;
    overflow: auto;
    text-align: center;
    margin-top: 1em;
}

.own_navbar a {
    float: none;
    padding: 1.5em 1.2em 1.1em 0.8em;
    color: black;
    font-family: 'Quicksand';
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5em;
    display: inline-block;
}

.own_navbar a:hover {
    color: white;
    background-color: deeppink;
    border-radius: 100%;
}

.active {
    background-color: darkorange;
    border-radius: 100%;
}

/*
input history table
 */
.view-container {
    padding-left: 2em;
    padding-right: 2em;
    /* transform: translate(-50%, 0); */
    /* margin: 0 auto; */
    /* margin-bottom: 2em; */
    max-width: 36rem;
}
.view-container .col {
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
}

/*
weight today div
 */

.loseit-box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1.1em 0.85em 1em 0.85em;
}
.loseit-box form label {
    font-family: Roboto;
    font-weight: bold;
}
input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 1em 0.8em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Roboto;
}

.basicButton {
    width: 100%;
    background-color: #af4c7e;
    color: white;
    padding: 14px 20px;
    margin-top: 0.3em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto';
}

.basicButton:hover {
    background-color: #b90626;
}

.secondaryButton {
    background-color: #888;
}

/*
search
 */
.search {
    border-radius: 5px;
    background-color: #f1e4ff;
    padding: 1.1em 1.65em 1em 0;
    font-family: 'Roboto';
    padding-bottom: 0.1em;
    width: 10em;
}
.search form {
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: 100%;
}
.search form label {
    font-family: Roboto;
    font-weight: bold;
}

.search .col {
    padding: 0 0 1em 0.7em;
    font-size: 1em;
}
/*
weight history
 */
.weight-history {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1em 0 1em 0;
    width: 36em;
}
#weight-measurements tr:nth-child(even) {
    background-color: white;
}
.weight-history .container {
    width: 100%;
}
.weight-history .th {
    text-align: left;
    padding: 0 1em 0.5em 0.7em;
    font-family: 'Roboto';
}
.weight-history .col {
    padding: 0 1em 0.1em 0.7em;
    font-family: 'Roboto';
    font-size: 1em;
}
.weight-history .col {
    width: 100%;
}

/*
account
 */

.account {
    border-radius: 5px;
    background-color: #f1e4ff;
    padding: 1em 0 1em 0;
    font-family: 'Roboto';
    padding-bottom: 0.1em;
}

.account .col {
    padding: 0 0 1em 0.7em;
    font-size: 1em;
}
.account form {
    padding-left: 0.8em;
    padding-right: 0.8em;
}
