<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lose It</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/LoseItStyleNew.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&effect=anaglyph|3d-float:900&,100display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">
</head>
<body>
<div id="menu-place" class="own_navbar">
</div>

<div id="app"></div>

<script type="text/template">
    <h1>An example template with <% this.var %></h1>
</script>

<script type="text/template" id="menu-template">
    <a href=\"#\" onclick=\"navigateMenu(this,'/')\">
        <i class=\"fa fa-fw fa-home\"></i>Home
    </a>
    <a href=\"#\" onclick=\"navigateMenu(this, 'view/search')\">
        <i class=\"fa fa-fw fa-search\"></i>Search
    </a>
    <a href=\"#\" onclick=\"navigateMenu(this, 'view/history')\">
        <i class=\"fa fa-fw fa-envelope\"></i>History
    </a>
    <% if(this.loggedin) { %>
        <a href=\"#\" onclick=\"navigateMenu(this, 'view/account')\">
            <i class=\"fa fa-fw fa-user\"></i>Account
        </a>
        <a href=\"#\" onclick=\"userLogout()\">
            <i class=\"fa fa-fw fa-user\"></i>logout
        </a>
    <% } else { %>

        <a href=\"#\" onclick=\"navigateMenu(this, 'view/login')\">
            <i class=\"fa fa-fw fa-user\"></i>login
        </a>

    <% } %>
</script>

<script type="text/template" id="main-view">
    <h1>Lose<span class="red">!</span>t</h1>
    <div class="header-background" id="weight-header-place">
        
    </div>

    <div class="container input-history">
        <div class="row">
            <div class="col col-md">
                <div class="weight-today-div" id="weight-today-place">
                </div>
            </div>
            <div class="col col-md">
                <div class="search" id="search-place">
                </div>
            </div>
            <div class="col-md">
                <div class="weight-history" id="weight-history-place">
                </div>
            </div>
        </div>
    </div>

    <img src="/img/footer3.png" alt="Paris">
</script>

<script type="text/template" id="search-view">
    <h1>Lose<span class="red">!</span>t</h1>
    <h1 class="h2-sub">Search</h1>
    <div class="header-background">
    </div>
</script>

<script type="text/template" id="history-view">
    <h1>Lose<span class="red">!</span>t</h1>
    <h1 class="h2-sub">History</h1>
    <div class="header-background">
    </div>
</script>

<script type="text/template" id="account-view">
    <h1>Lose<span class="red">!</span>t</h1>
    <h2 class="h2-sub"> Account info</h2>
    <div class="header-background">
        <div class="container input-history">
            <div class="row">
                <div class="col col-md">
                    <div class="account" id="account-place">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="weight-today-template">
    <form name=\"measureForm\" onsubmit=\"return false\">
    <label>Weight of today
        <input type=\"text\" id=\"weight-today\" name=\"weightToday\" placeholder=\"Your current weight..\"></label>
    <input type=\"submit\" value=\"Save\" onclick=\"postMeasure()\">
    </form>
</script>

<script type="text/template" id="weight-header-template">
    <h2 class=\"font-effect-anaglyph\">Current weight</h2>
    <div id=\"current-weight\" class=\"current-weight left\"><% this.currentWeight %> kg</div>
    <div class=\"container weight-table left-down\">
        <div class=\"row weight-table-headers font-effect-anaglyph\">
            <div class=\"col col-sm th\">Weight loss</div>
            <div class=\"col-sm th\">Total weight loss</div>
            <div class=\"col col-sm th\">Previous weight</div>
            <div class=\"col col-sm th\">Body index</div>
            <div class=\"col col-sm th\">Still to lose</div>
        </div>
        <div class=\"row\">
            <div class=\"col col-sm\" id=\"weight-loss\"><% this.weightLoss %> kg</div>
            <div class=\"col col-sm\" id=\"total-weight-loss\"><% this.totalWeightLoss %> kg</div>
            <div class=\"col col-sm\" id=\"previous-weight\"><% this.prevWeight %> kg</div>
            <div class=\"col col-sm\" id=\"body-index\"><% this.bodyIndex %></div>
            <div class=\"col col-sm\" id=\"still-to-lose\"><% this.stillToLose %> kg</div>
        </div>
    </div>
</script>

<script type="text/template" id="search-template">
    <form action="">
        <label>Search by date</label>
        <input type="text" id="weight-search" name="weight-search" placeholder="Date..">
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>Date</th>
        </tr>
        <tr>
            <td>12.12.2020</td>
        </tr>
        <tr>
            <th>Weight</th>
        </tr>
        <tr>
            <td>99.9</td>
        </tr>
        <tr>
            <th>Weight loss</th>
        </tr>
        <tr>
            <td>22.2</td>
        </tr>
        <tr>
            <th>Total weight loss</th>
        </tr>
        <tr>
            <td>22.2</td>
        </tr>
    </table>
</script>

<script type="text/template" id="weight-measures-template">
    <table id=\"weight-measurements\">
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Weight loss</th>
            <th>Total weight loss</th>
            <th>Body index</th>
        </tr>
        <!-- luodaan tr ja td ja uusin ylimmäiseksi -->

        <% for (let item of this.data) { %>
        <tr class=\"weights\">
            <td><% item.MeasureDate %></td>
            <td><% item.Weight %></td>
            <td><% item.WeightLoss %></td>
            <td><% item.TotalWeightLoss %></td>
            <td><% item.BodyIndex %></td>
        </tr>
        <% } %>

    </table>
</script>

<script type="text/template" id="login-view">
    <h1 class="h2-sub">Login</h1>
    <div class="header-background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-md">
                <form name="loginForm" onsubmit="return false">
                    <label>Käyttäjätunnus
                        <input name="username" type="text">
                    </label>
                    <label>Salasana
                        <input name="password" type="password">
                    </label>
                    <input type="submit" value="Kirjaudu" onclick="login()">
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="account-table-template">
    <table id=\"account-table\">
        <tbody id=\"account-tbody\">
        <tr>
            <th>Name</th>
        </tr>
        <tr id=\"tr-name\">
            <td id=\"name\"><% this.UserName %></td>
        </tr> <!--<input type=\"text\" value=\"default\"> -->
        <tr>
            <th>Height</th>
        </tr>
        <tr id=\"tr-height\">
            <td id=\"height\"><% this.Height %></td>
        </tr>
        <tr>
            <th>Starting weight</th>
        </tr>
        <tr id=\"tr-starting-weight\">
            <td id=\"starting-weight\"><% this.StartingWeight %></td>
        </tr>
        <tr>
            <th>Target weight</th>
        </tr>
        <tr id=\"tr-target-weight\">
            <td id=\"target-weight\"><% this.TargetWeight %></td>
        </tr>
        </tbody>
    </table>
    <form action=\"\">
        <input type=\"button\" value=\"Edit\" onclick=\"editAccount()\"> <!-- Ja Save -->
    </form>
</script>

<script type="text/template" id="account-table-edit-template">
    <form name=\"accountEditForm\" onSubmit='return false'>
        <table id=\"account-table\">
            <tbody id=\"account-tbody\">
            <tr>
                <th>Name</th>
            </tr>
            <tr id=\"tr-name\">
                <td id=\"name\">
                    <input name=\"UserName\" type=\"text\" value=\"<% this.UserName %>\">
                </td>
            </tr>
            <tr>
                <th>Height</th>
            </tr>
            <tr id=\"tr-height\">
                <td id=\"height\"><input type=\"number\" name=\"Height\" value=\"<% this.Height %>\"></td>
            </tr>
            <tr>
                <th>Starting weight</th>
            </tr>
            <tr id=\"tr-starting-weight\">
                <td id=\"starting-weight\"><% this.StartingWeight %></td>
            </tr>
            <tr>
                <th>Target weight</th>
            </tr>
            <tr id=\"tr-target-weight\">
                <td id=\"target-weight\"><input type=\"number\" name=\"targetWeight\" value=\"<% this.TargetWeight %>\"></td>
            </tr>
            </tbody>
        </table>
        <input type=\"button\" value=\"save\" onclick=\"saveAccount()\"> 
    </form>
</script>

<script defer src="/js/templator.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/vanilla-router@1.2.7/index.min.js" type="text/javascript"></script>
<script defer src="/js/controllerFunctions.js"></script>
<script defer src="/js/user.js"></script>
<script defer src="/js/helpers.js"></script>
<script defer src="/js/verbs.js"></script>
<script defer src="/js/main.js"></script>

</body>
</html>
